.venv
__pycache__/WBparser.cpython-311.pyc
Files/result.json
__pycache__/save.cpython-311.pyc
Files/res.xlsx
__pycache__/statistic.cpython-311.pyc
output/main.exe
output
chromedriver-win64/chromedriver.exe
chromedriver-win64/LICENSE.chromedriver
.site-packages
.venv/Lib/site-packages/pkg_resources
.venv  
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_legacy.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/simple.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/simple.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/abc.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_legacy.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_common.py
.venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/zipp.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_common.py
.venv\Lib\site-packages\_distutils_hack 
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_common.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_compat.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_legacy.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/abc.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/_adapters.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/_legacy.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/abc.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/simple.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/functools.py
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/__pycache__/context.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/__pycache__/functools.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/_common.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/abc.py
.venv